@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<div id="login" class="identity container">
    <div>
        <section class="flex">
            <form id="account" method="post" class="form-container">
                <h1>Sign in</h1>
                <div asp-validation-summary="ModelOnly" role="alert" class="msg"></div>
                <div>
                    <label asp-for="Input.Email">Email</label>
                    <input asp-for="Input.Email" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="msg"></span>
                </div>
                <div>
                    <label asp-for="Input.Password">Password</label>
                    <input asp-for="Input.Password" autocomplete="current-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="msg"></span>
                </div>
                @*<div>
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>*@
                <div>
                    <button id="login-submit" type="submit" class="btn btn-login">Log in</button>
                </div>

                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-createAcc">Create New Account</a>
                    </p>
                    @*<p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>*@
                </div>
            </form>
            <img src="https://img.freepik.com/free-vector/sign-concept-illustration_114360-5425.jpg?w=2000" width="550px" heigth="550px" />
        </section>
    </div>

   @* <div>
        <section>
            <h3>Use another service to log in.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>*@
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
