@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div id="products" class="container">
    @if (SignInManager.IsSignedIn(User))
    {
        <a asp-action="Create" asp-controller="Category" class="btn btn-login btn-add-product">+ Add new product</a>        
    }
    <section id="processor">
        <h2 class="title">Processor</h2>
        <hr class="line" />
        <div class="card-container flex">
            @foreach (var item in Model)
            {
                if(@item.Component == "processor")
                {
                    <div class="card">
                        <div>
                            <img src="@item.ImgUrl" alt="processor">
                        </div>
                        <h3 id="name">@item.Name</h3>
                        <p>@item.Description</p>
                        <h4 id="price">Price: @item.Price BDT</h4>                       
                         <a class="btn" asp-action="Details" asp-controller="category" asp-route-id="@item.Id"><i class="fa-solid fa-cart-shopping"></i> Buy Now</a>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <div class="flex">
                                <span role="group"><a asp-action="Edit" asp-controller="category" asp-route-id="@item.Id">Edit</a></span>
                                <span role="group"><a asp-action="Delete" asp-controller="category" asp-route-id="@item.Id">Delete</a></span>
                            </div>
                        }
                    </div>                    
                }
            }
        </div>
    </section>
    
    <section id="gpu">
        <h2 class="title">Graphics Card</h2>
        <hr class="line" />
        <div class="card-container flex">
            @foreach (var item in Model)
            {
                if (@item.Component == "gpu")
                {
                    <div class="card">
                        <div>
                            <img src="@item.ImgUrl" alt="processor">
                        </div>
                        <h3 id="name">@item.Name</h3>
                        <p>@item.Description</p>
                        <h4 id="price">Price: @item.Price BDT</h4>
                        <a class="btn" asp-action="Details" asp-controller="category" asp-route-id="@item.Id"><i class="fa-solid fa-cart-shopping"></i> Buy Now</a>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <div class="flex">
                                <span role="group"><a asp-action="Edit" asp-controller="category" asp-route-id="@item.Id">Edit</a></span>
                                <span role="group"><a asp-action="Delete" asp-controller="category" asp-route-id="@item.Id">Delete</a></span>
                            </div>
                        }
                    </div>
                }
            }
        </div>
    </section>

    <section id="ram">
        <h2 class="title">RAM</h2>
        <hr class="line" />
        <div class="card-container flex">
            @foreach (var item in Model)
            {
                if (@item.Component == "ram")
                {
                    <div class="card">
                        <div>
                            <img src="@item.ImgUrl" alt="processor">
                        </div>
                        <h3 id="name">@item.Name</h3>
                        <p>@item.Description</p>
                        <h4 id="price">Price: @item.Price BDT</h4>
                        <a class="btn" asp-action="Details" asp-controller="category" asp-route-id="@item.Id"><i class="fa-solid fa-cart-shopping"></i> Buy Now</a>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <div class="flex">
                                <span role="group"><a asp-action="Edit" asp-controller="category" asp-route-id="@item.Id">Edit</a></span>
                                <span role="group"><a asp-action="Delete" asp-controller="category" asp-route-id="@item.Id">Delete</a></span>
                            </div>
                        }
                    </div>
                }
            }
        </div>
    </section>

    <section id="motherboard">
        <h2 class="title">Motherboard</h2>
        <hr class="line" />
        <div class="card-container flex">
            @foreach (var item in Model)
            {
                if (@item.Component == "motherboard")
                {
                    <div class="card">
                        <div>
                            <img src="@item.ImgUrl" alt="processor">
                        </div>
                        <h3 id="name">@item.Name</h3>
                        <p>@item.Description</p>
                        <h4 id="price">Price: @item.Price BDT</h4>
                        <a class="btn" asp-action="Details" asp-controller="category" asp-route-id="@item.Id"><i class="fa-solid fa-cart-shopping"></i> Buy Now</a>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <div class="flex">
                                <span role="group"><a asp-action="Edit" asp-controller="category" asp-route-id="@item.Id">Edit</a></span>
                                <span role="group"><a asp-action="Delete" asp-controller="category" asp-route-id="@item.Id">Delete</a></span>
                            </div>
                        }
                    </div>
                }
            }
        </div>
    </section>
    <section id="casing">
        <h2 class="title">Casing</h2>
        <hr class="line" />
        <div class="card-container flex">
            @foreach (var item in Model)
            {
                if (@item.Component == "case")
                {
                    <div class="card">
                        <div>
                            <img src="@item.ImgUrl" alt="processor">
                        </div>
                        <h3 id="name">@item.Name</h3>
                        <p>@item.Description</p>
                        <h4 id="price">Price: @item.Price BDT</h4>
                        <a class="btn" asp-action="Details" asp-controller="category" asp-route-id="@item.Id"><i class="fa-solid fa-cart-shopping"></i> Buy Now</a>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <div class="flex">
                                <span role="group"><a asp-action="Edit" asp-controller="category" asp-route-id="@item.Id">Edit</a></span>
                                <span role="group"><a asp-action="Delete" asp-controller="category" asp-route-id="@item.Id">Delete</a></span>
                            </div>
                        }
                    </div>
                }
            }
        </div>
    </section>

    <section id="ssd">
        <h2 class="title">SSD</h2>
        <hr class="line" />
        <div class="card-container flex">
            @foreach (var item in Model)
            {
                if (@item.Component == "ssd")
                {
                    <div class="card">
                        <div>
                            <img src="@item.ImgUrl" alt="processor">
                        </div>
                        <h3 id="name">@item.Name</h3>
                        <p>@item.Description</p>
                        <h4 id="price">Price: @item.Price BDT</h4>
                        <a class="btn" asp-action="Details" asp-controller="category" asp-route-id="@item.Id"><i class="fa-solid fa-cart-shopping"></i> Buy Now</a>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <div class="flex">
                                <span role="group"><a asp-action="Edit" asp-controller="category" asp-route-id="@item.Id">Edit</a></span>
                                <span role="group"><a asp-action="Delete" asp-controller="category" asp-route-id="@item.Id">Delete</a></span>
                            </div>
                        }
                    </div>
                }
            }
        </div>
    </section>

    <section id="psu">
        <h2 class="title">Power Supply</h2>
        <hr class="line" />
        <div class="card-container flex">
            @foreach (var item in Model)
            {
                if (@item.Component == "psu")
                {
                    <div class="card">
                        <div>
                            <img src="@item.ImgUrl" alt="processor">
                        </div>
                        <h3 id="name">@item.Name</h3>
                        <p>@item.Description</p>
                        <h4 id="price">Price: @item.Price BDT</h4>
                        <a class="btn" asp-action="Details" asp-controller="category" asp-route-id="@item.Id"><i class="fa-solid fa-cart-shopping"></i> Buy Now</a>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <div class="flex">
                                <span role="group"><a asp-action="Edit" asp-controller="category" asp-route-id="@item.Id">Edit</a></span>
                                <span role="group"><a asp-action="Delete" asp-controller="category" asp-route-id="@item.Id">Delete</a></span>
                            </div>
                        }
                    </div>
                }
            }
        </div>
    </section>

    <section id="cooler">
        <h2 class="title">CPU Cooler</h2>
        <hr class="line" />
        <div class="card-container flex">
            @foreach (var item in Model)
            {
                if (@item.Component == "cooler")
                {
                    <div class="card">
                        <div>
                            <img src="@item.ImgUrl" alt="processor">
                        </div>
                        <h3 id="name">@item.Name</h3>
                        <p>@item.Description</p>
                        <h4 id="price">Price: @item.Price BDT</h4>
                        <a class="btn" asp-action="Details" asp-controller="category" asp-route-id="@item.Id"><i class="fa-solid fa-cart-shopping"></i> Buy Now</a>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <div class="flex">
                                <span role="group"><a asp-action="Edit" asp-controller="category" asp-route-id="@item.Id">Edit</a></span>
                                <span role="group"><a asp-action="Delete" asp-controller="category" asp-route-id="@item.Id">Delete</a></span>
                            </div>
                        }
                    </div>
                }
            }
        </div>
    </section>
    
    <section id="hard-disk">
        <h2 class="title">Hard Disk</h2>
        <hr class="line" />
        <div class="card-container flex">
            @foreach (var item in Model)
            {
                if (@item.Component == "hdd")
                {
                    <div class="card">
                        <div>
                            <img src="@item.ImgUrl" alt="processor">
                        </div>
                        <h3 id="name">@item.Name</h3>
                        <p>@item.Description</p>
                        <h4 id="price">Price: @item.Price BDT</h4>
                        <a class="btn" asp-action="Details" asp-controller="category" asp-route-id="@item.Id"><i class="fa-solid fa-cart-shopping"></i> Buy Now</a>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <div class="flex">
                                <span role="group"><a asp-action="Edit" asp-controller="category" asp-route-id="@item.Id">Edit</a></span>
                                <span role="group"><a asp-action="Delete" asp-controller="category" asp-route-id="@item.Id">Delete</a></span>
                            </div>
                        }
                    </div>
                }
            }
        </div>
    </section>

    <section id="chair">
        <h2 class="title">Chair</h2>
        <hr class="line" />
        <div class="card-container flex">
            @foreach (var item in Model)
            {
                if (@item.Component == "chair")
                {
                    <div class="card">
                        <div>
                            <img src="@item.ImgUrl" alt="processor">
                        </div>
                        <h3 id="name">@item.Name</h3>
                        <p>@item.Description</p>
                        <h4 id="price">Price: @item.Price BDT</h4>
                        <a class="btn" asp-action="Details" asp-controller="category" asp-route-id="@item.Id"><i class="fa-solid fa-cart-shopping"></i> Buy Now</a>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <div class="flex">
                                <span role="group"><a asp-action="Edit" asp-controller="category" asp-route-id="@item.Id">Edit</a></span>
                                <span role="group"><a asp-action="Delete" asp-controller="category" asp-route-id="@item.Id">Delete</a></span>
                            </div>
                        }
                    </div>
                }
            }
        </div>
    </section>
    
    <section id="headphone">
        <h2 class="title">Headphone</h2>
        <hr class="line" />
        <div class="card-container flex">
            @foreach (var item in Model)
            {
                if (@item.Component == "headphone")
                {
                    <div class="card">
                        <div>
                            <img src="@item.ImgUrl" alt="processor">
                        </div>
                        <h3 id="name">@item.Name</h3>
                        <p>@item.Description</p>
                        <h4 id="price">Price: @item.Price BDT</h4>
                        <a class="btn" asp-action="Details" asp-controller="category" asp-route-id="@item.Id"><i class="fa-solid fa-cart-shopping"></i> Buy Now</a>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <div class="flex">
                                <span role="group"><a asp-action="Edit" asp-controller="category" asp-route-id="@item.Id">Edit</a></span>
                                <span role="group"><a asp-action="Delete" asp-controller="category" asp-route-id="@item.Id">Delete</a></span>
                            </div>
                        }
                    </div>
                }
            }
        </div>
    </section>
</div>
